
  @import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-direction: column;
  font-family: 'Fuzzy Bubbles', sans-serif;

}

section {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.box {
  position: relative;
  z-index: 1000;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 100px auto;
}

.container {
  position: relative;
  width: 400px;
  height: 430px;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#dycalendar {
  width: 100%;
  padding: 10px;
  padding-bottom: -2px;
  margin: 2;
}
#dycalendar table {
  width: 100%;
  margin: auto;
  padding-top:20px;
  border-spacing: 10px;
}
#dycalendar table tr:nth-child(1) td {
    backdrop-filter: blur(35px); 
  color: #111;
  font-weight: 600;
  border-radius: 4px;
}
#dycalendar table td {
  color: #fff;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}

#dycalendar table td:hover{
    background: #fff;
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-today-date,
.dycalendar-month-container .dycalendar-target-date {
  background-color: #fff;

}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn{
    /* background-color: #fff; */
    color: #111;
    font-family: 'Fuzzy Bubbles', sans-serif;
    backdrop-filter: blur(35px);
    width: 40px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn:hover{
    background: #fff;
    color: #111 !important;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn{
    /* /* background-color: #fff; */
    backdrop-filter: blur(35px); 
    color: #111;
    width: 40px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn:hover{
    background: #fff;
    color: #111 !important;
}

.dycalendar-month-container .dycalendar-span-month-year{
    color: #fff;
    font-size: 1.7em;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    text-shadow: 0 13.36px 8.896px rgba(199, 7, 7, 0.2)px 1px #fff ;
}

.container p {
    padding-top: -8px;
    font-size: 12px;
    margin-bottom: 6px;
    text-decoration: none;

}

.container p a {
    text-decoration: none;
    /* color: inherit; */
}
